In [ ]:
import pandas as pd

# Load the CSV file into a DataFrame
df = pd.read_csv('/content/UNSW-NB15_3.csv')

# Display the first 5 rows
display(df.head().T)

# Print the column names and their data types
print(df.info())

,0,1,2,3,4
59.166.0.1,59.166.0.3,59.166.0.8,149.171.126.18,149.171.126.18,59.166.0.3
18247,54771,13289,1043,1043,10275
149.171.126.4,149.171.126.2,149.171.126.9,175.45.176.3,175.45.176.3,149.171.126.0
7662,27709,5190,53,53,25
tcp,tcp,tcp,udp,udp,tcp
FIN,FIN,FIN,INT,INT,FIN
0.119596,0.650574,0.00798,0.000005,0.000005,0.486578
4550,8928,2158,264,264,37462
68342,320,2464,0,0,3380
31,31,31,60,60,31
29,29,29,0,0,29
7,4,6,0,0,18
33,1,6,0,0,8
-,ftp-data,-,dns,dns,smtp
300478.2813,101953.0391,2074185.375,211200000.0,211200000.0,604088.1875
4514398.5,3283.254395,2367919.75,0.0,0.0,54256.46094
78,14,24,2,2,52
80,6,24,0,0,42
255,255,255,0,0,255
255.1,255,255,0,0,255
1818376620,4075447467,1638377249,0,0,1518379503
1818657356,3777413974,1638673555,0,0,3670369209
58,638,90,132,132,720
854,53,103,0,0,80
0,0,0,0,0,0
0.1,0,0,0,0,0
87.137592,4045.664812,23.013883,0.0,0.0,768.061343
85.643619,162.187656,0.487342,0.0,0.0,24.935787
1424231129,1424231129,1424231129,1424231129,1424231129,1424231128
1424231129.1,1424231129,1424231129,1424231129,1424231129,1424231129
1.549156,50.044153,0.347545,0.005,0.005,9.533961
1.50719,129.990797,0.322913,0.0,0.0,11.645
0.000644,0.000616,0.000668,0.0,0.0,0.016012
0.000521,0.000495,0.000544,0.0,0.0,0.009132
0.000123,0.000121,0.000124,0.0,0.0,0.00688
0.2,0,0,0,0,0
0.3,0,0,0,0,0
Unnamed: 37,NaN,NaN,NaN,NaN,NaN
Unnamed: 38,NaN,NaN,NaN,NaN,NaN
,,,,,
6,3,3,19,19,3
2,5,5,19,19,2
2.1,2,1,19,19,3
5,4,1,19,19,4
1,1,1,19,19,2
1.1,1,1,19,19,1
2.2,4,3,19,19,2
Unnamed: 47,NaN,NaN,NaN,NaN,NaN
0.4,0,0,0,0,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700000 entries, 0 to 699999
Data columns (total 49 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   59.166.0.1     700000 non-null  object
 1   18247          700000 non-null  int64
 2   149.171.126.4  700000 non-null  object
 3   7662           700000 non-null  object
 4   tcp            700000 non-null  object
 5   FIN            700000 non-null  object
 6   0.119596       700000 non-null  float64
 7   4550           700000 non-null  int64
 8   68342          700000 non-null  int64
 9   31             700000 non-null  int64
 10  29             700000 non-null  int64
 11  7              700000 non-null  int64
 12  33             700000 non-null  int64
 13  -              700000 non-null  object
 14  300478.2813    700000 non-null  float64
 15  4514398.5      700000 non-null  float64
 16  78             700000 non-null  int64
 17  80             700000 non-null  int64
 18  255            700000 non-null  int64
 19  255.1          700000 non-null  int64
 20  1818376620     700000 non-null  int64
 21  1818657356     700000 non-null  int64
 22  58             700000 non-null  int64
 23  854            700000 non-null  int64
 24  0              700000 non-null  int64
 25  0.1            700000 non-null  int64
 26  87.137592      700000 non-null  float64
 27  85.643619      700000 non-null  float64
 28  1424231129     700000 non-null  int64
 29  1424231129.1   700000 non-null  int64
 30  1.549156       700000 non-null  float64
 31  1.50719        700000 non-null  float64
 32  0.000644       700000 non-null  float64
 33  0.000521       700000 non-null  float64
 34  0.000123       700000 non-null  float64
 35  0.2            700000 non-null  int64
 36  0.3            700000 non-null  int64
 37  Unnamed: 37    43596 non-null   float64
 38  Unnamed: 38    10572 non-null   float64
 39                 700000 non-null  object
 40  6              700000 non-null  int64
 41  2              700000 non-null  int64
 42  2.1            700000 non-null  int64
 43  5              700000 non-null  int64
 44  1              700000 non-null  int64
 45  1.1            700000 non-null  int64
 46  2.2            700000 non-null  int64
 47  Unnamed: 47    157425 non-null  object
 48  0.4            700000 non-null  int64
dtypes: float64(12), int64(29), object(8)
memory usage: 261.7+ MB
None

In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.appName("UNSW-NB15").getOrCreate()

# Load the dataset into a Spark DataFrame
spark_df = spark.read.csv('/content/UNSW-NB15_3.csv', header=True, inferSchema=True)

# Display the schema and the first few rows
spark_df.printSchema()
spark_df.show(5)

root
 |-- 59.166.0.1: string (nullable = true)
 |-- 18247: integer (nullable = true)
 |-- 149.171.126.4: string (nullable = true)
 |-- 7662: string (nullable = true)
 |-- tcp: string (nullable = true)
 |-- FIN: string (nullable = true)
 |-- 0.119596: double (nullable = true)
 |-- 4550: integer (nullable = true)
 |-- 68342: integer (nullable = true)
 |-- 31: integer (nullable = true)
 |-- 29: integer (nullable = true)
 |-- 7: integer (nullable = true)
 |-- 33: integer (nullable = true)
 |-- -: string (nullable = true)
 |-- 300478.2813: double (nullable = true)
 |-- 4514398.5: double (nullable = true)
 |-- 78: integer (nullable = true)
 |-- 80: integer (nullable = true)
 |-- 25518: integer (nullable = true)
 |-- 25519: integer (nullable = true)
 |-- 1818376620: long (nullable = true)
 |-- 1818657356: long (nullable = true)
 |-- 58: integer (nullable = true)
 |-- 854: integer (nullable = true)
 |-- 024: integer (nullable = true)
 |-- 025: integer (nullable = true)
 |-- 87.137592: double (nullable = true)
 |-- 85.643619: double (nullable = true)
 |-- 142423112928: integer (nullable = true)
 |-- 142423112929: integer (nullable = true)
 |-- 1.549156: double (nullable = true)
 |-- 1.50719: double (nullable = true)
 |-- 0.000644: double (nullable = true)
 |-- 0.000521: double (nullable = true)
 |-- 0.000123: double (nullable = true)
 |-- 035: integer (nullable = true)
 |-- 036: integer (nullable = true)
 |-- _c37: integer (nullable = true)
 |-- _c38: integer (nullable = true)
 |--  : string (nullable = true)
 |-- 6: integer (nullable = true)
 |-- 241: integer (nullable = true)
 |-- 242: integer (nullable = true)
 |-- 5: integer (nullable = true)
 |-- 144: integer (nullable = true)
 |-- 145: integer (nullable = true)
 |-- 246: integer (nullable = true)
 |-- _c47: string (nullable = true)
 |-- 048: integer (nullable = true)

+--------------+-----+-------------+-----+---+---+--------+-----+-----+---+---+---+---+--------+-----------+-----------+---+---+-----+-----+----------+----------+---+---+---+---+-----------+----------+------------+------------+---------+----------+--------+--------+--------+---+---+----+----+---+---+---+---+---+---+---+---+----+---+
|    59.166.0.1|18247|149.171.126.4| 7662|tcp|FIN|0.119596| 4550|68342| 31| 29|  7| 33|       -|300478.2813|  4514398.5| 78| 80|25518|25519|1818376620|1818657356| 58|854|024|025|  87.137592| 85.643619|142423112928|142423112929| 1.549156|   1.50719|0.000644|0.000521|0.000123|035|036|_c37|_c38|   |  6|241|242|  5|144|145|246|_c47|048|
+--------------+-----+-------------+-----+---+---+--------+-----+-----+---+---+---+---+--------+-----------+-----------+---+---+-----+-----+----------+----------+---+---+---+---+-----------+----------+------------+------------+---------+----------+--------+--------+--------+---+---+----+----+---+---+---+---+---+---+---+---+----+---+
|    59.166.0.3|54771|149.171.126.2|27709|tcp|FIN|0.650574| 8928|  320| 31| 29|  4|  1|ftp-data|101953.0391|3283.254395| 14|  6|  255|  255|4075447467|3777413974|638| 53|  0|  0|4045.664812|162.187656|  1424231129|  1424231129|50.044153|129.990797| 6.16E-4| 4.95E-4| 1.21E-4|  0|  0|NULL|NULL|   |  3|  5|  2|  4|  1|  1|  4|NULL|  0|
|    59.166.0.8|13289|149.171.126.9| 5190|tcp|FIN| 0.00798| 2158| 2464| 31| 29|  6|  6|       -|2074185.375| 2367919.75| 24| 24|  255|  255|1638377249|1638673555| 90|103|  0|  0|  23.013883|  0.487342|  1424231129|  1424231129| 0.347545|  0.322913| 6.68E-4| 5.44E-4| 1.24E-4|  0|  0|NULL|NULL|   |  3|  5|  1|  1|  1|  1|  3|NULL|  0|
|149.171.126.18| 1043| 175.45.176.3|   53|udp|INT|  5.0E-6|  264|    0| 60|  0|  0|  0|     dns|    2.112E8|        0.0|  2|  0|    0|    0|         0|         0|132|  0|  0|  0|        0.0|       0.0|  1424231129|  1424231129|    0.005|       0.0|     0.0|     0.0|     0.0|  0|  0|NULL|NULL|   | 19| 19| 19| 19| 19| 19| 19|NULL|  0|
|149.171.126.18| 1043| 175.45.176.3|   53|udp|INT|  5.0E-6|  264|    0| 60|  0|  0|  0|     dns|    2.112E8|        0.0|  2|  0|    0|    0|         0|         0|132|  0|  0|  0|        0.0|       0.0|  1424231129|  1424231129|    0.005|       0.0|     0.0|     0.0|     0.0|  0|  0|NULL|NULL|   | 19| 19| 19| 19| 19| 19| 19|NULL|  0|
|    59.166.0.3|10275|149.171.126.0|   25|tcp|FIN|0.486578|37462| 3380| 31| 29| 18|  8|    smtp|604088.1875|54256.46094| 52| 42|  255|  255|1518379503|3670369209|720| 80|  0|  0| 768.061343| 24.935787|  1424231128|  1424231129| 9.533961|    11.645|0.016012|0.009132| 0.00688|  0|  0|NULL|NULL|   |  3|  2|  3|  4|  2|  1|  2|NULL|  0|
+--------------+-----+-------------+-----+---+---+--------+-----+-----+---+---+---+---+--------+-----------+-----------+---+---+-----+-----+----------+----------+---+---+---+---+-----------+----------+------------+------------+---------+----------+--------+--------+--------+---+---+----+----+---+---+---+---+---+---+---+---+----+---+
only showing top 5 rows

Let's start by checking for missing values in the Spark DataFrame.

In [ ]:
from pyspark.sql.functions import col, sum

# Check for null values in each column
spark_df.select(*(sum(col("`" + c + "`").isNull().cast("integer")).alias(c) for c in spark_df.columns)).show()

+----------+-----+-------------+----+---+---+--------+----+-----+---+---+---+---+---+-----------+---------+---+---+-----+-----+----------+----------+---+---+---+---+---------+---------+------------+------------+--------+-------+--------+--------+--------+---+---+------+------+---+---+---+---+---+---+---+---+------+---+
|59.166.0.1|18247|149.171.126.4|7662|tcp|FIN|0.119596|4550|68342| 31| 29|  7| 33|  -|300478.2813|4514398.5| 78| 80|25518|25519|1818376620|1818657356| 58|854|024|025|87.137592|85.643619|142423112928|142423112929|1.549156|1.50719|0.000644|0.000521|0.000123|035|036|  _c37|  _c38|   |  6|241|242|  5|144|145|246|  _c47|048|
+----------+-----+-------------+----+---+---+--------+----+-----+---+---+---+---+---+-----------+---------+---+---+-----+-----+----------+----------+---+---+---+---+---------+---------+------------+------------+--------+-------+--------+--------+--------+---+---+------+------+---+---+---+---+---+---+---+---+------+---+
|         0|    0|            0|   0|  0|  0|       0|   0|    0|  0|  0|  0|  0|  0|          0|        0|  0|  0|    0|    0|         0|         0|  0|  0|  0|  0|        0|        0|           0|           0|       0|      0|       0|       0|       0|  0|  0|656404|689428|  0|  0|  0|  0|  0|  0|  0|  0|542575|  0|
+----------+-----+-------------+----+---+---+--------+----+-----+---+---+---+---+---+-----------+---------+---+---+-----+-----+----------+----------+---+---+---+---+---------+---------+------------+------------+--------+-------+--------+--------+--------+---+---+------+------+---+---+---+---+---+---+---+---+------+---+

In [ ]:
# Drop columns with a large number of missing values
columns_to_drop = ["_c37", "_c38", "_c47"]
spark_df = spark_df.drop(*columns_to_drop)

# Verify that the columns have been dropped
print("Columns after dropping:", spark_df.columns)

Columns after dropping: ['59.166.0.1', '18247', '149.171.126.4', '7662', 'tcp', 'FIN', '0.119596', '4550', '68342', '31', '29', '7', '33', '-', '300478.2813', '4514398.5', '78', '80', '25518', '25519', '1818376620', '1818657356', '58', '854', '024', '025', '87.137592', '85.643619', '142423112928', '142423112929', '1.549156', '1.50719', '0.000644', '0.000521', '0.000123', '035', '036', ' ', '6', '241', '242', '5', '144', '145', '246', '048']

In [ ]:
# Define new column names based on UNSW-NB15 dataset documentation
new_columns = [
    "srcip", "sport", "dstip", "dsport", "proto", "state", "dur", "sbytes",
    "dbytes", "sttl", "dttl", "sloss", "dloss", "service", "sload", "dload",
    "spkts", "dpkts", "swin", "dwin", "stcpb", "dtcpb", "smeansz", "dmeansz",
    "trans_depth", "res_bdy_len", "sjit", "djit", "stime", "ltime", "sintpkt",
    "dintpkt", "tcprtt", "synack", "ackdat", "is_sm_ips_ports",
    "ct_state_ttl", "ct_dst_ltm", "ct_src_dport_ltm", "ct_dst_sport_ltm",
    "ct_dst_src_ltm", "is_ftp_login", "ct_ftp_cmd", "ct_flw_http_mthd",
    "ct_srv_dst", "is_ssh", "ct_shost_dport", "ct_srv_src"
]

# Get the current column names
current_columns = spark_df.columns

# Create a mapping of old to new column names
rename_mapping = dict(zip(current_columns, new_columns))

# Rename the columns
spark_df = spark_df.select([col("`" + c + "`").alias(rename_mapping.get(c, c)) for c in current_columns])

# Display the new column names and schema
print("Columns after renaming:", spark_df.columns)
spark_df.printSchema()

Columns after renaming: ['srcip', 'sport', 'dstip', 'dsport', 'proto', 'state', 'dur', 'sbytes', 'dbytes', 'sttl', 'dttl', 'sloss', 'dloss', 'service', 'sload', 'dload', 'spkts', 'dpkts', 'swin', 'dwin', 'stcpb', 'dtcpb', 'smeansz', 'dmeansz', 'trans_depth', 'res_bdy_len', 'sjit', 'djit', 'stime', 'ltime', 'sintpkt', 'dintpkt', 'tcprtt', 'synack', 'ackdat', 'is_sm_ips_ports', 'ct_state_ttl', 'ct_dst_ltm', 'ct_src_dport_ltm', 'ct_dst_sport_ltm', 'ct_dst_src_ltm', 'is_ftp_login', 'ct_ftp_cmd', 'ct_flw_http_mthd', 'ct_srv_dst', 'is_ssh']
root
 |-- srcip: string (nullable = true)
 |-- sport: integer (nullable = true)
 |-- dstip: string (nullable = true)
 |-- dsport: string (nullable = true)
 |-- proto: string (nullable = true)
 |-- state: string (nullable = true)
 |-- dur: double (nullable = true)
 |-- sbytes: integer (nullable = true)
 |-- dbytes: integer (nullable = true)
 |-- sttl: integer (nullable = true)
 |-- dttl: integer (nullable = true)
 |-- sloss: integer (nullable = true)
 |-- dloss: integer (nullable = true)
 |-- service: string (nullable = true)
 |-- sload: double (nullable = true)
 |-- dload: double (nullable = true)
 |-- spkts: integer (nullable = true)
 |-- dpkts: integer (nullable = true)
 |-- swin: integer (nullable = true)
 |-- dwin: integer (nullable = true)
 |-- stcpb: long (nullable = true)
 |-- dtcpb: long (nullable = true)
 |-- smeansz: integer (nullable = true)
 |-- dmeansz: integer (nullable = true)
 |-- trans_depth: integer (nullable = true)
 |-- res_bdy_len: integer (nullable = true)
 |-- sjit: double (nullable = true)
 |-- djit: double (nullable = true)
 |-- stime: integer (nullable = true)
 |-- ltime: integer (nullable = true)
 |-- sintpkt: double (nullable = true)
 |-- dintpkt: double (nullable = true)
 |-- tcprtt: double (nullable = true)
 |-- synack: double (nullable = true)
 |-- ackdat: double (nullable = true)
 |-- is_sm_ips_ports: integer (nullable = true)
 |-- ct_state_ttl: integer (nullable = true)
 |-- ct_dst_ltm: string (nullable = true)
 |-- ct_src_dport_ltm: integer (nullable = true)
 |-- ct_dst_sport_ltm: integer (nullable = true)
 |-- ct_dst_src_ltm: integer (nullable = true)
 |-- is_ftp_login: integer (nullable = true)
 |-- ct_ftp_cmd: integer (nullable = true)
 |-- ct_flw_http_mthd: integer (nullable = true)
 |-- ct_srv_dst: integer (nullable = true)
 |-- is_ssh: integer (nullable = true)

In [ ]:
# Identify categorical columns (object/string types) from the schema
categorical_cols = [field.name for field in spark_df.schema.fields if field.dataType.simpleString() == "string"]

# Display unique values and their counts for each categorical column
for col_name in categorical_cols:
    print(f"Unique values and counts for column: {col_name}")
    spark_df.groupBy(col_name).count().show(truncate=False)

Unique values and counts for column: srcip
+--------------+-----+
|srcip         |count|
+--------------+-----+
|149.171.126.16|2    |
|59.166.0.5    |41996|
|10.40.170.2   |302  |
|59.166.0.8    |39440|
|10.40.85.1    |588  |
|149.171.126.18|64749|
|59.166.0.3    |41800|
|175.45.176.1  |66063|
|149.171.126.15|44870|
|10.40.85.10   |341  |
|149.171.126.4 |5    |
|59.166.0.6    |40384|
|59.166.0.4    |42452|
|149.171.126.17|11   |
|149.171.126.13|108  |
|149.171.126.10|6    |
|59.166.0.1    |42262|
|149.171.126.3 |5    |
|59.166.0.0    |41477|
|59.166.0.2    |41602|
+--------------+-----+
only showing top 20 rows

Unique values and counts for column: dstip
+--------------+-----+
|dstip         |count|
+--------------+-----+
|149.171.126.16|6915 |
|10.40.170.2   |302  |
|59.166.0.8    |2    |
|10.40.85.1    |428  |
|149.171.126.18|80821|
|224.0.0.5     |640  |
|192.168.241.50|117  |
|149.171.126.7 |40556|
|59.166.0.3    |1    |
|175.45.176.1  |26950|
|149.171.126.15|43788|
|149.171.126.4 |41905|
|149.171.126.17|9863 |
|149.171.126.2 |42321|
|10.40.198.10  |105  |
|149.171.126.10|9370 |
|149.171.126.13|5054 |
|59.166.0.1    |2    |
|224.0.0.1     |20   |
|149.171.126.3 |42321|
+--------------+-----+
only showing top 20 rows

Unique values and counts for column: dsport
+------+-----+
|dsport|count|
+------+-----+
|3606  |1    |
|18947 |4    |
|45300 |2    |
|15555 |6    |
|46534 |3    |
|39659 |1    |
|10096 |3    |
|1159  |4    |
|39457 |1    |
|13772 |3    |
|20428 |4    |
|13192 |1    |
|27317 |4    |
|32275 |2    |
|65045 |4    |
|55498 |6    |
|1436  |8    |
|60351 |3    |
|22254 |5    |
|45540 |3    |
+------+-----+
only showing top 20 rows

Unique values and counts for column: proto
+----------+-----+
|proto     |count|
+----------+-----+
|cphb      |43   |
|nsfnet-igp|43   |
|larp      |43   |
|dgp       |43   |
|tcf       |43   |
|crudp     |43   |
|igp       |43   |
|nvp       |43   |
|vrrp      |43   |
|mfe-nsp   |43   |
|il        |43   |
|prm       |43   |
|wb-expak  |43   |
|micp      |43   |
|ospf      |1963 |
|br-sat-mon|43   |
|idrp      |43   |
|kryptolan |43   |
|ib        |43   |
|sprite-rpc|43   |
+----------+-----+
only showing top 20 rows

Unique values and counts for column: state
+-----+------+
|state|count |
+-----+------+
|URN  |2     |
|ACC  |4     |
|ECO  |138   |
|ECR  |3     |
|PAR  |13    |
|RST  |213   |
|REQ  |2542  |
|FIN  |326292|
|INT  |248476|
|MAS  |2     |
|no   |2     |
|CON  |122307|
|TST  |3     |
|TXD  |3     |
+-----+------+

Unique values and counts for column: service
+--------+------+
|service |count |
+--------+------+
|ftp     |11177 |
|ftp-data|29612 |
|dns     |307313|
|smtp    |19973 |
|http    |51274 |
|radius  |16    |
|ssl     |60    |
|-       |269214|
|irc     |15    |
|dhcp    |83    |
|snmp    |46    |
|pop3    |609   |
|ssh     |10608 |
+--------+------+

Unique values and counts for column: ct_dst_ltm
+----------+------+
|ct_dst_ltm|count |
+----------+------+
|1         |10482 |
|4         |84    |
|          |689428|
|2         |6     |
+----------+------+

In [ ]:
from pyspark.ml.feature import StringIndexer, OneHotEncoder, VectorAssembler
from pyspark.ml import Pipeline

# Identify categorical columns (excluding the target column if it were present, but we don't have one yet)
# For now, we'll encode all string type columns identified earlier
categorical_cols = [field.name for field in spark_df.schema.fields if field.dataType.simpleString() == "string"]

# Create StringIndexer and OneHotEncoder stages for each categorical column
indexers = [StringIndexer(inputCol=col_name, outputCol=col_name + "_indexed", handleInvalid="keep") for col_name in categorical_cols]
encoders = [OneHotEncoder(inputCol=col_name + "_indexed", outputCol=col_name + "_encoded") for col_name in categorical_cols]

# Create a pipeline
pipeline = Pipeline(stages=indexers + encoders)

# Fit the pipeline to the data and transform the data
pipeline_model = pipeline.fit(spark_df)
spark_df_encoded = pipeline_model.transform(spark_df)

# Display the schema of the encoded DataFrame to see the new columns
print("Schema after encoding categorical features:")
spark_df_encoded.printSchema()

# Show the first few rows with the new encoded columns
print("First 5 rows after encoding:")
spark_df_encoded.show(5)

Schema after encoding categorical features:
root
 |-- srcip: string (nullable = true)
 |-- sport: integer (nullable = true)
 |-- dstip: string (nullable = true)
 |-- dsport: string (nullable = true)
 |-- proto: string (nullable = true)
 |-- state: string (nullable = true)
 |-- dur: double (nullable = true)
 |-- sbytes: integer (nullable = true)
 |-- dbytes: integer (nullable = true)
 |-- sttl: integer (nullable = true)
 |-- dttl: integer (nullable = true)
 |-- sloss: integer (nullable = true)
 |-- dloss: integer (nullable = true)
 |-- service: string (nullable = true)
 |-- sload: double (nullable = true)
 |-- dload: double (nullable = true)
 |-- spkts: integer (nullable = true)
 |-- dpkts: integer (nullable = true)
 |-- swin: integer (nullable = true)
 |-- dwin: integer (nullable = true)
 |-- stcpb: long (nullable = true)
 |-- dtcpb: long (nullable = true)
 |-- smeansz: integer (nullable = true)
 |-- dmeansz: integer (nullable = true)
 |-- trans_depth: integer (nullable = true)
 |-- res_bdy_len: integer (nullable = true)
 |-- sjit: double (nullable = true)
 |-- djit: double (nullable = true)
 |-- stime: integer (nullable = true)
 |-- ltime: integer (nullable = true)
 |-- sintpkt: double (nullable = true)
 |-- dintpkt: double (nullable = true)
 |-- tcprtt: double (nullable = true)
 |-- synack: double (nullable = true)
 |-- ackdat: double (nullable = true)
 |-- is_sm_ips_ports: integer (nullable = true)
 |-- ct_state_ttl: integer (nullable = true)
 |-- ct_dst_ltm: string (nullable = true)
 |-- ct_src_dport_ltm: integer (nullable = true)
 |-- ct_dst_sport_ltm: integer (nullable = true)
 |-- ct_dst_src_ltm: integer (nullable = true)
 |-- is_ftp_login: integer (nullable = true)
 |-- ct_ftp_cmd: integer (nullable = true)
 |-- ct_flw_http_mthd: integer (nullable = true)
 |-- ct_srv_dst: integer (nullable = true)
 |-- is_ssh: integer (nullable = true)
 |-- srcip_indexed: double (nullable = false)
 |-- dstip_indexed: double (nullable = false)
 |-- dsport_indexed: double (nullable = false)
 |-- proto_indexed: double (nullable = false)
 |-- state_indexed: double (nullable = false)
 |-- service_indexed: double (nullable = false)
 |-- ct_dst_ltm_indexed: double (nullable = false)
 |-- srcip_encoded: vector (nullable = true)
 |-- dstip_encoded: vector (nullable = true)
 |-- dsport_encoded: vector (nullable = true)
 |-- proto_encoded: vector (nullable = true)
 |-- state_encoded: vector (nullable = true)
 |-- service_encoded: vector (nullable = true)
 |-- ct_dst_ltm_encoded: vector (nullable = true)

First 5 rows after encoding:
+--------------+-----+-------------+------+-----+-----+--------+------+------+----+----+-----+-----+--------+-----------+-----------+-----+-----+----+----+----------+----------+-------+-------+-----------+-----------+-----------+----------+----------+----------+---------+----------+--------+--------+-------+---------------+------------+----------+----------------+----------------+--------------+------------+----------+----------------+----------+------+-------------+-------------+--------------+-------------+-------------+---------------+------------------+---------------+---------------+-------------------+---------------+--------------+---------------+------------------+
|         srcip|sport|        dstip|dsport|proto|state|     dur|sbytes|dbytes|sttl|dttl|sloss|dloss| service|      sload|      dload|spkts|dpkts|swin|dwin|     stcpb|     dtcpb|smeansz|dmeansz|trans_depth|res_bdy_len|       sjit|      djit|     stime|     ltime|  sintpkt|   dintpkt|  tcprtt|  synack| ackdat|is_sm_ips_ports|ct_state_ttl|ct_dst_ltm|ct_src_dport_ltm|ct_dst_sport_ltm|ct_dst_src_ltm|is_ftp_login|ct_ftp_cmd|ct_flw_http_mthd|ct_srv_dst|is_ssh|srcip_indexed|dstip_indexed|dsport_indexed|proto_indexed|state_indexed|service_indexed|ct_dst_ltm_indexed|  srcip_encoded|  dstip_encoded|     dsport_encoded|  proto_encoded| state_encoded|service_encoded|ct_dst_ltm_encoded|
+--------------+-----+-------------+------+-----+-----+--------+------+------+----+----+-----+-----+--------+-----------+-----------+-----+-----+----+----+----------+----------+-------+-------+-----------+-----------+-----------+----------+----------+----------+---------+----------+--------+--------+-------+---------------+------------+----------+----------------+----------------+--------------+------------+----------+----------------+----------+------+-------------+-------------+--------------+-------------+-------------+---------------+------------------+---------------+---------------+-------------------+---------------+--------------+---------------+------------------+
|    59.166.0.3|54771|149.171.126.2| 27709|  tcp|  FIN|0.650574|  8928|   320|  31|  29|    4|    1|ftp-data|101953.0391|3283.254395|   14|    6| 255| 255|4075447467|3777413974|    638|     53|          0|          0|4045.664812|162.187656|1424231129|1424231129|50.044153|129.990797| 6.16E-4| 4.95E-4|1.21E-4|              0|           0|          |               3|               5|             2|           4|         1|               1|         4|     0|          7.0|          3.0|         336.0|          1.0|          0.0|            3.0|               0.0| (40,[7],[1.0])| (44,[3],[1.0])|(58096,[336],[1.0])|(134,[1],[1.0])|(14,[0],[1.0])| (13,[3],[1.0])|     (4,[0],[1.0])|
|    59.166.0.8|13289|149.171.126.9|  5190|  tcp|  FIN| 0.00798|  2158|  2464|  31|  29|    6|    6|       -|2074185.375| 2367919.75|   24|   24| 255| 255|1638377249|1638673555|     90|    103|          0|          0|  23.013883|  0.487342|1424231129|1424231129| 0.347545|  0.322913| 6.68E-4| 5.44E-4|1.24E-4|              0|           0|          |               3|               5|             1|           1|         1|               1|         3|     0|         13.0|         12.0|           2.0|          1.0|          0.0|            1.0|               0.0|(40,[13],[1.0])|(44,[12],[1.0])|  (58096,[2],[1.0])|(134,[1],[1.0])|(14,[0],[1.0])| (13,[1],[1.0])|     (4,[0],[1.0])|
|149.171.126.18| 1043| 175.45.176.3|    53|  udp|  INT|  5.0E-6|   264|     0|  60|   0|    0|    0|     dns|    2.112E8|        0.0|    2|    0|   0|   0|         0|         0|    132|      0|          0|          0|        0.0|       0.0|1424231129|1424231129|    0.005|       0.0|     0.0|     0.0|    0.0|              0|           0|          |              19|              19|            19|          19|        19|              19|        19|     0|          2.0|          0.0|           0.0|          0.0|          1.0|            0.0|               0.0| (40,[2],[1.0])| (44,[0],[1.0])|  (58096,[0],[1.0])|(134,[0],[1.0])|(14,[1],[1.0])| (13,[0],[1.0])|     (4,[0],[1.0])|
|149.171.126.18| 1043| 175.45.176.3|    53|  udp|  INT|  5.0E-6|   264|     0|  60|   0|    0|    0|     dns|    2.112E8|        0.0|    2|    0|   0|   0|         0|         0|    132|      0|          0|          0|        0.0|       0.0|1424231129|1424231129|    0.005|       0.0|     0.0|     0.0|    0.0|              0|           0|          |              19|              19|            19|          19|        19|              19|        19|     0|          2.0|          0.0|           0.0|          0.0|          1.0|            0.0|               0.0| (40,[2],[1.0])| (44,[0],[1.0])|  (58096,[0],[1.0])|(134,[0],[1.0])|(14,[1],[1.0])| (13,[0],[1.0])|     (4,[0],[1.0])|
|    59.166.0.3|10275|149.171.126.0|    25|  tcp|  FIN|0.486578| 37462|  3380|  31|  29|   18|    8|    smtp|604088.1875|54256.46094|   52|   42| 255| 255|1518379503|3670369209|    720|     80|          0|          0| 768.061343| 24.935787|1424231128|1424231129| 9.533961|    11.645|0.016012|0.009132|0.00688|              0|           0|          |               3|               2|             3|           4|         2|               1|         2|     0|          7.0|          8.0|           4.0|          1.0|          0.0|            4.0|               0.0| (40,[7],[1.0])| (44,[8],[1.0])|  (58096,[4],[1.0])|(134,[1],[1.0])|(14,[0],[1.0])| (13,[4],[1.0])|     (4,[0],[1.0])|
+--------------+-----+-------------+------+-----+-----+--------+------+------+----+----+-----+-----+--------+-----------+-----------+-----+-----+----+----+----------+----------+-------+-------+-----------+-----------+-----------+----------+----------+----------+---------+----------+--------+--------+-------+---------------+------------+----------+----------------+----------------+--------------+------------+----------+----------------+----------+------+-------------+-------------+--------------+-------------+-------------+---------------+------------------+---------------+---------------+-------------------+---------------+--------------+---------------+------------------+
only showing top 5 rows

In [ ]:
from pyspark.ml.feature import VectorAssembler

# Identify numerical columns (excluding the time-based columns if they are not intended as features)
# For now, let's include all numerical columns except 'stime' and 'ltime' as they might represent timestamps
numerical_cols = [field.name for field in spark_df_encoded.schema.fields if field.dataType.simpleString() != "string" and field.name not in ["stime", "ltime"]]

# Identify the encoded categorical columns
encoded_categorical_cols = [col_name + "_encoded" for col_name in categorical_cols]

# Combine all feature columns
feature_cols = numerical_cols + encoded_categorical_cols

# Create a VectorAssembler to combine all feature columns into a single vector column
assembler = VectorAssembler(inputCols=feature_cols, outputCol="features")

# Transform the DataFrame to include the features vector
spark_df_features = assembler.transform(spark_df_encoded)

# Drop the original categorical columns and the intermediate indexed columns
columns_to_drop_final = categorical_cols + [col_name + "_indexed" for col_name in categorical_cols]
spark_df_final = spark_df_features.drop(*columns_to_drop_final)

# Display the schema and the first few rows of the final DataFrame
print("Schema after assembling features and dropping intermediate columns:")
spark_df_final.printSchema()

print("First 5 rows of the final DataFrame with features vector:")
spark_df_final.select("features").show(5, truncate=False)

Schema after assembling features and dropping intermediate columns:
root
 |-- sport: integer (nullable = true)
 |-- dur: double (nullable = true)
 |-- sbytes: integer (nullable = true)
 |-- dbytes: integer (nullable = true)
 |-- sttl: integer (nullable = true)
 |-- dttl: integer (nullable = true)
 |-- sloss: integer (nullable = true)
 |-- dloss: integer (nullable = true)
 |-- sload: double (nullable = true)
 |-- dload: double (nullable = true)
 |-- spkts: integer (nullable = true)
 |-- dpkts: integer (nullable = true)
 |-- swin: integer (nullable = true)
 |-- dwin: integer (nullable = true)
 |-- stcpb: long (nullable = true)
 |-- dtcpb: long (nullable = true)
 |-- smeansz: integer (nullable = true)
 |-- dmeansz: integer (nullable = true)
 |-- trans_depth: integer (nullable = true)
 |-- res_bdy_len: integer (nullable = true)
 |-- sjit: double (nullable = true)
 |-- djit: double (nullable = true)
 |-- stime: integer (nullable = true)
 |-- ltime: integer (nullable = true)
 |-- sintpkt: double (nullable = true)
 |-- dintpkt: double (nullable = true)
 |-- tcprtt: double (nullable = true)
 |-- synack: double (nullable = true)
 |-- ackdat: double (nullable = true)
 |-- is_sm_ips_ports: integer (nullable = true)
 |-- ct_state_ttl: integer (nullable = true)
 |-- ct_src_dport_ltm: integer (nullable = true)
 |-- ct_dst_sport_ltm: integer (nullable = true)
 |-- ct_dst_src_ltm: integer (nullable = true)
 |-- is_ftp_login: integer (nullable = true)
 |-- ct_ftp_cmd: integer (nullable = true)
 |-- ct_flw_http_mthd: integer (nullable = true)
 |-- ct_srv_dst: integer (nullable = true)
 |-- is_ssh: integer (nullable = true)
 |-- srcip_encoded: vector (nullable = true)
 |-- dstip_encoded: vector (nullable = true)
 |-- dsport_encoded: vector (nullable = true)
 |-- proto_encoded: vector (nullable = true)
 |-- state_encoded: vector (nullable = true)
 |-- service_encoded: vector (nullable = true)
 |-- ct_dst_ltm_encoded: vector (nullable = true)
 |-- features: vector (nullable = true)

First 5 rows of the final DataFrame with features vector:
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|features                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           |
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|(116734,[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,20,21,22,23,24,25,26,29,30,31,32,33,34,35,37,38,39,40,42,51,87,464,58225,58358,58375,58385,58396,58432,58809,116570,116703,116720,116730],[54771.0,0.650574,8928.0,320.0,31.0,29.0,4.0,1.0,101953.0391,3283.254395,14.0,6.0,255.0,255.0,4.075447467E9,3.777413974E9,638.0,53.0,4045.664812,162.187656,50.044153,129.990797,6.16E-4,4.95E-4,1.21E-4,3.0,5.0,2.0,4.0,1.0,1.0,4.0,7.0,3.0,336.0,1.0,3.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0])|
|(116734,[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,20,21,22,23,24,25,26,29,30,31,32,33,34,35,37,38,39,40,42,57,96,130,58225,58358,58373,58385,58402,58441,58475,116570,116703,116718,116730],[13289.0,0.00798,2158.0,2464.0,31.0,29.0,6.0,6.0,2074185.375,2367919.75,24.0,24.0,255.0,255.0,1.638377249E9,1.638673555E9,90.0,103.0,23.013883,0.487342,0.347545,0.322913,6.68E-4,5.44E-4,1.24E-4,3.0,5.0,1.0,1.0,1.0,1.0,3.0,13.0,12.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0])       |
|(116734,[0,1,2,4,8,10,16,22,29,30,31,32,33,34,35,37,41,46,84,128,58224,58359,58372,58385,58391,58429,58473,116569,116704,116717,116730],[1043.0,5.0E-6,264.0,60.0,2.112E8,2.0,132.0,0.005,19.0,19.0,19.0,19.0,19.0,19.0,19.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0])                                                                                                                                                                                                                     |
|(116734,[0,1,2,4,8,10,16,22,29,30,31,32,33,34,35,37,41,46,84,128,58224,58359,58372,58385,58391,58429,58473,116569,116704,116717,116730],[1043.0,5.0E-6,264.0,60.0,2.112E8,2.0,132.0,0.005,19.0,19.0,19.0,19.0,19.0,19.0,19.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0])                                                                                                                                                                                                                     |
|(116734,[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,20,21,22,23,24,25,26,29,30,31,32,33,34,35,37,38,39,40,42,51,92,132,58225,58358,58376,58385,58396,58437,58477,116570,116703,116721,116730],[10275.0,0.486578,37462.0,3380.0,31.0,29.0,18.0,8.0,604088.1875,54256.46094,52.0,42.0,255.0,255.0,1.518379503E9,3.670369209E9,720.0,80.0,768.061343,24.935787,9.533961,11.645,0.016012,0.009132,0.00688,3.0,2.0,3.0,4.0,2.0,1.0,2.0,7.0,8.0,4.0,1.0,4.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0])   |
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 5 rows

In [ ]:
# Check unique values and counts for the 'is_ssh' column
print("Unique values and counts for 'is_ssh' column:")
spark_df_final.groupBy("is_ssh").count().show()

Unique values and counts for 'is_ssh' column:
+------+------+
|is_ssh| count|
+------+------+
|     1|157425|
|     0|542575|
+------+------+

In [ ]:
# Split the data into training and testing sets (e.g., 80% train, 20% test)
train_df, test_df = spark_df_final.randomSplit([0.8, 0.2], seed=42)

# Print the number of rows in each set to verify the split
print("Training data count:", train_df.count())
print("Testing data count:", test_df.count())

Training data count: 559845
Testing data count: 140155

In [ ]:
from pyspark.ml.classification import RandomForestClassifier
from pyspark.ml.evaluation import BinaryClassificationEvaluator

# Initialize the Random Forest Classifier model
# We use the 'features' column as input and 'is_ssh' as the label column
# Increased maxBins to handle high cardinality categorical features
rf = RandomForestClassifier(labelCol="is_ssh", featuresCol="features", numTrees=10, maxBins=65536) # Increased maxBins

# Train the model on the training data
rf_model = rf.fit(train_df)

print("Random Forest Model trained successfully!")

Random Forest Model trained successfully!

In [ ]:
# Make predictions on the test data
predictions = rf_model.transform(test_df)

# Select (prediction, true label) pairs and compute evaluation metrics
evaluator_roc = BinaryClassificationEvaluator(labelCol="is_ssh", rawPredictionCol="rawPrediction", metricName="areaUnderROC")
evaluator_pr = BinaryClassificationEvaluator(labelCol="is_ssh", rawPredictionCol="rawPrediction", metricName="areaUnderPR")

# Calculate Area Under ROC Curve (AUC)
auc = evaluator_roc.evaluate(predictions)
print(f"Area Under ROC Curve (AUC): {auc:.4f}")

# Calculate Area Under PR Curve (AUPRC)
auprc = evaluator_pr.evaluate(predictions)
print(f"Area Under PR Curve (AUPRC): {auprc:.4f}")

# You can also show some prediction examples
print("Sample Predictions:")
predictions.select("features", "is_ssh", "prediction", "probability").show(5)

Area Under ROC Curve (AUC): 0.9900
Area Under PR Curve (AUPRC): 0.9733
Sample Predictions:
+--------------------+------+----------+--------------------+
|            features|is_ssh|prediction|         probability|
+--------------------+------+----------+--------------------+
|(116734,[2,10,16,...|     0|       0.0|[0.78983220958132...|
|(116734,[2,10,16,...|     0|       0.0|[0.75638931689210...|
|(116734,[2,10,16,...|     0|       0.0|[0.78983220958132...|
|(116734,[2,10,16,...|     0|       0.0|[0.78983220958132...|
|(116734,[2,10,16,...|     0|       0.0|[0.78983220958132...|
+--------------------+------+----------+--------------------+
only showing top 5 rows